[Unit]
Description=Display EOL message
ConditionPathExists=!%h/.local/share/horizon/eol-shown

[Service]
Type=oneshot
ExecStart=mkdir -p %h/.local/share/horizon
ExecStart=/usr/share/horizon/eol
ExecStart=touch %h/.local/share/horizon/eol-shown

[Install]
WantedBy=default.target
